<div class="pt-4 p-2" *ngIf="post">
    <h3>{{ post.title }}</h3>
    <p> {{ post.content }}</p>
    <div>
        <span class="badge rounded-pill text-bg-light">
            {{ post.category.name }}
        </span>
        <!-- Displaying the date with a pipe breaks the app due to wrong date json format sent by backend, so we display it raw 
           Instead of : <span>{{ post.createdDate | date : "medium" }}</span> 
        We have: -->
        <span>{{ post.createdDate }}</span> 
    </div>
</div>
